.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Jumbo {
  margin: 0;
  padding: 20px;
  background-color: rgb(13, 110, 253);
  color: white;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;

}
.CenterThis {
  margin: 0;
  margin-top: 5%;
  position: absolute;
  left: 45%;
}
img {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px
}
.Space {
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
}
.CenterThisButton {
  text-align: center;
  margin-top: 1%;
}
.WhiteOut {
  font-weight: bold;
  font-size: larger;
  color: white
}
.BlackText {
  font-weight: bold;
  font-size: larger;
  color: black;
  background-color: aqua;
}
.Indent {
  margin-left: .5%;
  margin-right: .5%;
}
.borderlands {
  border: black;
  border-style: double;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.ColBorderlands {
  border-right: black;
  border-right-style: double;
  margin-top: -1%;
  margin-bottom: -1%;
  padding-top: -1%;
  padding-bottom: -1%;
}
.background {
  background-color: aqua;
}
.InfoDrone {
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
}
.TextCenter{
  text-align: center;
  font-weight: bold;
}
.EmboldenSpace {
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
  color: red;
}
.bottomSpace {
  margin-bottom: 1%;
}